* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --text-color: rgb(255, 255, 255);
  --bg-url: url(./fotos/back-ground.png);
  --hover-bg-color: rgba(173, 173, 173, 0.5);
  --border-color: rgba(255, 255, 255, 0.5);
  --bg-color: rgba(173, 173, 173, 0.3);
  --switch: url(./fotos/moon.svg);
}

.lighty {
  --text-color: black;
  --bg-url: url(./fotos/back-graund-white.png);
  --hover-bg-color: rgba(95, 94, 94, 0.5);
  --border-color: rgba(104, 104, 104, 0.5);
  --bg-color: rgba(145, 145, 145, 0.5);
  --switch: url(./fotos/sun.svg);
}

body {
  /*
  background-image: url(./back-ground.png);
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  background-color: #000;
  */
  background: var(--bg-url) no-repeat top/cover #000;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
body * {
  font-family: "Inter", sans-serif;
  color: var(--text-color);
}

#container {
  width: 588px;
  height: 712px;
  margin: 150px auto 0 auto;
  padding: 0 24px;
}

/* profile */
#profile {
  text-align: center;
}

#profile img {
  width: 120px;
  margin: 30px auto 0 auto;
}

#profile p {
  font-weight: 500;
  line-height: 24px;
  margin-top: 15px;
}

/*switch */
#switch {
  position: relative;
  width: 64px;
  height: 24px;
  margin: 20px auto;
}
#switch button {
  width: 32px;
  height: 32px;
  top: 50%;
  background: white var(--switch) no-repeat center;
  border-radius: 50%;
  border: none;
  position: absolute;
  transform: translateY(-50%);
  left: 0px;
  z-index: 1;
}

.lighty #switch button {
  right: 0px;
  left: initial;
}

#switch span {
  display: block;
  width: 64px;
  height: 24px;
  background: var(--bg-color);
  border: 1px solid var(--border-color);
  border-radius: 9999px;
}

/*list */
ul {
  margin-top: 6px;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 16px;

  padding: 24px 0;
}

ul li a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px 24px;
  border: 1px solid var(--border-color);
  border-radius: 10px;
  background-color: var(--bg-color);

  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);

  text-decoration: none;
  font-weight: 500;

  transition: background-color 0.5s ease;
}

/* pseudo sudo-selector */
ul li a:hover {
  background-color: var(--hover-bg-color);
  border: 1.5px solid var(--text-color);
}

/* social media icons */
#social-links {
  display: flex;
  padding: 5px 0;
  justify-content: center;
  font-size: 32px;
  gap: 10px;
}

#social-links a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;
  transition: background-color 0.5s ease;
  border-radius: 50%;
}

#social-links a:hover {
  background-color: var(--hover-bg-color);
  border: 1px solid var(--text-color);
}

/* rodape */
footer {
  padding: 24px 0;
  font-size: 14px;
  text-align: center;
}
